[IBGateway]
WriteDebug=false
MainWindow.Width=700
RemotePortOrderRouting=4003
RemoteHostOrderRouting=ndc1.ibllc.com
LocalServerPort=4000
SocketPort=4002
MainWindow.Height=550
ApiOnly=true
TrustedIPs=127.0.0.1

[Logon]
useRemoteSettings=false
TimeZone=America/New_York
Individual=1
tradingMode=p
colorPalletName=dark
Locale=en
UseSSL=true
os_titlebar=false

[Communication]
Peer=cdc1.ibllc.com:4001
Region=usr
