@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #e0e0e0;
  overflow: hidden; 
  font-family: 'JetBrains Mono', Consolas, monospace;
}

/* Force sharp edges globally to kill web-app feel */
* {
  border-radius: 0 !important;
}

/* Blocky Terminal Scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #000000;
  border-left: 1px solid #333333;
}
::-webkit-scrollbar-thumb {
  background: #333333;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffbf00; 
}

/* MapLibre Terminal Overrides */
.maplibregl-popup-content {
  background: #000000 !important;
  color: #e0e0e0 !important;
  border: 1px solid #333333 !important;
  font-family: 'JetBrains Mono', Consolas, monospace !important;
  padding: 4px !important;
}
.maplibregl-popup-tip {
  border-top-color: #333333 !important;
}